<!doctype html>
<html lang="en">

  <head>
    {% include 'partials/meta.njk' %}
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body data-gr-c-s-loaded="true">
    <div id="app">
      <div class="theme-container">
        {% include 'partials/header.njk' %}
        {% include 'partials/sidebar.njk' %}
        <main class="page">
          <div class="theme-default-content content__default">
            {{ content.html | safe }}
          </div>
        </main>
      </div>
      <div class="global-ui"></div>
    </div>

    <script>
      document
        .querySelector('.sidebar-button')
        .addEventListener('click', () => {
          document
            .querySelector('.theme-container')
            .classList
            .toggle('sidebar-open');
        });
      document
        .querySelector('.sidebar-mask')
        .addEventListener('click', () => {
          document
            .querySelector('.theme-container')
            .classList
            .toggle('sidebar-open');
        });
    </script>

    {% if content.jsCode %}
      <script type="module">
        {{ content.jsCode | safe }}
      </script>
    {% endif %}
    {% include 'partials/service-worker.njk' %}
  </body>

</html>
