node_modules
coverage/
dist
tsc-dist
stats.html
/packages/**/test-node/**/snapshots
/packages/demoing-storybook/storybook-static/**/*
/packages/**/demo/**/*
/packages/dev-server-hmr/src/patches/**/*
_site/
_site-dev
