## editors
/.idea
/.vscode

## system files
.DS_Store

## code coverage folders
coverage/

## generated types
packages/*/types
packages/*/*.d.ts*
tsconfig.tsbuildinfo

## npm
node_modules
!packages/es-dev-server/test/**/node_modules
!packages/scoped-elements/demo/**/node_modules
npm-debug.log

## lerna
lerna-debug.log

## temp folders
/.tmp/

## build hp
/_site/
/_site-dev/

yarn.lock

## build output
dist
build-stats.json
stats.html
.rpt2_cache
storybook-static
/packages/testing/plugins

## browserstack
local.log

## generated codelabs
docs/.vuepress/public/codelabs

# Local Netlify folder
.netlify

# @11ty/eleventy-cache-assets
.cache

## Rocket ignore files (need to be the full relative path to the folders)
docs/_merged_data/
docs/_merged_assets/
docs/_merged_includes/
