node_modules
coverage/
/packages/create/src/generators/*/templates/**/*
dist
tsc-dist
stats.html
packages/semantic-dom-diff/bundle/get-diffable-html.js
packages/**/test-node/**/snapshots
/packages/demoing-storybook/storybook-static/**/*
/packages/rollup-plugin-input-html/test/fixtures/**/*
/packages/rollup-plugin-html/dist/**/*
/packages/testing/plugins/**/*
CHANGELOG.md
__snapshots__/
_site/
_site-dev/
