node_modules
coverage/
/packages/create/src/generators/*/templates/**/*
dist
stats.html
packages/semantic-dom-diff/bundle/get-diffable-html.js
packages/**/test/**/snapshots
/packages/es-dev-server/test/fixtures/**/*
/packages/es-dev-server/demo/**/*
/packages/karma-esm/src/esm-debug.html
/packages/karma-esm/src/esm-context.html
/packages/demoing-storybook/storybook-static/**/*
/packages/rollup-plugin-input-html/test/fixtures/**/*
/packages/rollup-plugin-html/dist/**/*
CHANGELOG.md
__snapshots__/
