.home .hero .action-button
	background-color: #217FF9

.home .hero .action-button:hover
	background-color: #388cfa

.header-anchor
	color: #9B35FA

.sidebar-group.is-sub-group > .sidebar-heading span
	font-weight: bold
	color: #2c3e50

.sidebar-group.is-sub-group > p
	opacity: 1!important