<script>
    document
    .querySelector('.sidebar-button')
    .addEventListener('click', () => {
        document
        .querySelector('.theme-container')
        .classList
        .toggle('sidebar-open');
    });
    document
    .querySelector('.sidebar-mask')
    .addEventListener('click', () => {
        document
        .querySelector('.theme-container')
        .classList
        .toggle('sidebar-open');
    });
</script>