<div class="content-footer">
  <p>
    Caught a mistake or want to contribute to the documentation?
    <a href="https://github.com/open-wc/open-wc/edit/chore/newSiteWithRocket/{{ page.inputPath }}">Edit this page on GitHub!</a>
  </p>
</div>
