{% set pageTitle = title %}
{% if title != site.name %}
  {% set pageTitle = title + ': ' + site.name %}
{% endif %}
{% set currentUrl = site.url + page.url %}

{% set metaDesc = site.shortDesc %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ pageTitle }}</title>
<meta name="generator" content="11ty 0.10.0">
<link rel="manifest" href="/manifest.json">
<link rel="icon" type="image/png" href="/favicon.png"/>
<link rel="apple-touch-icon" href="/icons/icon-128x128.png"/>
<meta name="theme-color" content="#127afb"/>
{% if site.url !== '/' %}
  <link rel="canonical" href="{{ currentUrl }}"/>
{% endif %}

<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="/logo.png">
<meta property="og:url" content="{{ currentUrl }}"/>

<meta name="twitter:creator" content="@OpenWc"/>
<meta name="twitter:card" content="summary">

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}"/>
  <meta name="twitter:description" content="{{ metaDesc }}"/>
  <meta property="og:description" content="{{ metaDesc }}"/>
{% endif %}
