<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker
        .register(`${window.location.pathname.split('/').length - 1 > 1 ? '../service-worker.js' : './service-worker.js' }`)
        .then(function() {
          console.log('ServiceWorker registered.');
        })
        .catch(function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
    });

    async function handleUpdate() {
      const oldSw = (await navigator.serviceWorker.getRegistration())?.active?.state;

      if ("serviceWorker"in navigator) {
        let refreshing;

        navigator.serviceWorker.addEventListener('controllerchange', async () => {
          if (refreshing) return;

          const newSw = (await navigator.serviceWorker.getRegistration())?.active?.state;

          if(oldSw === 'activated' && newSw === 'activating') {
            refreshing = true;
            window.location.reload();
          }
        });
      }
    }

    handleUpdate();
  }

</script>