<ul class="sidebar-links">
  <li>
    <a href="about/" class="{% if permalink == 'about/index.html' %}active {% endif %}sidebar-link">About</a>
  </li>
  <li>
    <a href="about/contact.html" class="{% if permalink == 'about/contact.html' %}active {% endif %}sidebar-link">Contact</a>
  </li>
  <li>
    <a href="about/rationales.html" class="{% if permalink == 'about/rationales.html' %}active {% endif %}sidebar-link">Rationales</a>
  </li>
  <li>
    <a href="about/blog.html" class="{% if permalink == 'about/blog.html' %}active {% endif %} sidebar-link">Blog</a>
  </li>
</ul>
