<ul class="sidebar-links">
  <li>
    <a href="/faq/index.html" class="{% if permalink == 'faq/index.html' %}active {% endif %}sidebar-link">Faq</a>
  </li>
  <li>
    <section class="sidebar-group depth-0">
      <p class="sidebar-heading open">
        <span>Deep dives</span>
        <!---->
      </p>
      <ul class="sidebar-links sidebar-group-items">
        <li>
          <a href="/faq/events.html" class="{% if permalink == 'faq/events.html' %}active {% endif %}sidebar-link">Managing events in your custom elements</a>
        </li>
        <li>
          <a href="/faq/rerender.html" class="{% if permalink == 'faq/rerender.html' %}active {% endif %}sidebar-link">Rerender not triggered</a>
        </li>
        <li>
          <a href="/faq/unit-testing-custom-events.html" class="{% if permalink == 'faq/unit-testing-custom-events.html' %}active {% endif %}sidebar-link">Unit Testing Events</a>
        </li>
        <li>
          <a href="/faq/unit-testing-init-error.html" class="{% if permalink == 'faq/unit-testing-init-error.html' %}active {% endif %}sidebar-link">Testing for errors thrown in initialization</a>
        </li>
        <li>
          <a href="/faq/lit-element-lifecycle.html" class="{% if permalink == 'faq/lit-element-lifecycle.html' %}active {% endif %}sidebar-link">LitElement lifecycle</a>
        </li>
      </ul>
    </section>
  </li>
</ul>
